<a href="https://colab.research.google.com/github/YashKarande/AD-PYTHON/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
#Find the sum of all the multiples of 3 or 5 below 1000.

total = 0 
for i in range(10):               #for below 1000, range(1000)
    if i % 3==0 or i % 5==0:
      print(i)
      total += i
print(total)

0
3
5
6
9
23

In [15]:
#Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:
#1, 2, 3, 5, 8, 13, 21, 34, 55, 89

a=[]
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10